header{
    background-image: url('../../../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    height: 700px;
    width: 300px;
    border-radius: 14px;
}
header div{
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-inline: auto;
    width: 80%;
    padding-top: 20px;
    column-gap: 10px;
    row-gap: 30px;
}
header span.number-one{
    grid-column:  1 / 2;
    grid-row: 1 / 2;
}
header span.number-two{
    grid-column:  1 / 2;
    grid-row: 2 / 3;
}
header span.number-three{
    grid-column:  1 / 2;
    grid-row: 3 / 4;
}
header span.number-four{
    grid-column:  1 / 2;
    grid-row: 4 / 5;
}
header span.number-one,
header span.number-two,
header span.number-three,
header span.number-four
{
    align-self: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    color: white;
}
header h1{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
header h1 span{
    display: block;
    font-size: 16px;
    color: rgba(192, 192, 192, 1);
    font-weight: 100;
}
header h1.step-one{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

header h1.step-two{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

header h1.step-three{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

header h1.step-four{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}



