header{
    background-image: url('../../images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    height: 43.75rem;
    width: 100%;
    border-radius: 0.875rem;
}
header div{
    display: grid;
    grid-template-columns: 3.125rem 1fr;
    margin-inline: auto;
    width: 80%;
    padding-top: 1.25rem;
    column-gap: 0.625rem;
    row-gap: 1.875rem;
}
header span.number-one{
    grid-column:  1 / 2;
    grid-row: 1 / 2;
}
header span.number-two{
    grid-column:  1 / 2;
    grid-row: 2 / 3;
}
header span.number-three{
    grid-column:  1 / 2;
    grid-row: 3 / 4;
}
header span.number-four{
    grid-column:  1 / 2;
    grid-row: 4 / 5;
}

.active-step{
    background-color: #bce3ff;
    color: black !important;
    font-weight: bold;
}

header span.number-one,
header span.number-two,
header span.number-three,
header span.number-four
{
    align-self: center;
    height: 2.188rem;
    width: 2.188rem;
    border-radius: 50%;
    text-align: center;
    padding: 0.313rem;
    border: 0.063rem solid white;
    color: white;
}
header h1{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
header h1 span{
    display: block;
    font-size: 1rem;
    color: rgba(192, 192, 192, 1);
    font-weight: 100;
}
header h1.step-one{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

header h1.step-two{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

header h1.step-three{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

header h1.step-four{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
@media screen and (max-width: 550px) {
    header{
        background-image: url('../../images/bg-sidebar-mobile.svg');
        height: 15.625rem;
        border-radius: 0;
        z-index: -1;
        background-position: center bottom 10%; 
    }
    header div{
        display: flex;
        justify-content: space-evenly;
    }
    header h1.step-one,
    header h1.step-two,
    header h1.step-three,
    header h1.step-four{
        display: none;
    }
}



